<template>
  <div>
    <div>
      <b-form>
        <b-form-group id="input-group-1" label="Selecciona una ubicación de la lista" label-for="input-1">
          <b-form-select
              id="input-1"
              v-model="selectedLocation"
              :options="locations"
              required
          ></b-form-select>
        </b-form-group>
      </b-form>
      <b-card v-if="selectedLocation"
              class="mt-3"
              :header="'Ubicacion seleccionada: ' + selectedLocation"
      >
        <b-card-body>
          <b-button v-b-toggle.collapse-1 variant="primary" v-on:click="getNameLocation">Nombres según idiomas</b-button>
            <b-button v-b-toggle.collapse-2 variant="dark" v-on:click="getIndiceJuego">Indices de Juego</b-button>
          <b-collapse id="collapse-1" class="mt-2">
            <b-card>
            <ul>
            <li :key="index" v-for="(item,index) in nameLocation.names">
            {{item.language.name+": "+item.name}}<!--se itera por cada item dentro de los nombres de las ubicaciones, tanto
            el nombre del idioma y concatenado con el nombre que recibe!
            La iteracion se realiza debido aque no se sabe a priori cuantos elementos va a contener (cuantos idiomas maneja
            la API)-->
            </li>
            </ul>
             </b-card>
          </b-collapse>
          
          <b-collapse id="collapse-2" class="mt-2">
            <b-card>
            <ul>
            <li :key="index" v-for="(item,index) in indiceJuego.game_indices">
            {{"Index game: "+item.game_index+", generation: "+item.generation.name}}
            </li>
            </ul>
             </b-card>
          </b-collapse>
        </b-card-body>
      </b-card>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
const BASE_URL = 'https://pokeapi.co/api/v2/'
export default {
  data() {
    return {
      selectedLocation: null,//la ubicación seleccionada
      locations: [],//aqui guardo las ubicaciones guardadas a partir del endpoint /location?limit=20
      nameLocation: {},//respaldo de resultado de getNameLocation (un json)
      indiceJuego:{}//respaldo de resultado de getIndiceJuego (un json)
    }
  },
  mounted() {
    this.getTwentyLocations()//para que permita de antemano cargar variables como opciones 
  },
  methods: {
    getFirstTwentyLocations () {
      const resource = 'location?limit=20'//maximo 20 ubicaciones
      axios.get(BASE_URL + resource)
          .then(res => {
            this.locations = res.data.results.map(loc => loc.name)//se mapean ya que se generan en forma de arrays 
                                                                    //y solo se requieren los nombres de cada uno
          })
          .catch(err => {
            console.log(err)
          })
    },
    getNameLocation () {//se obtienen los diferentes nombres de las ubicaciones segun idiomas como ingles o frances
      const resource = 'location/' + this.selectedLocation
      axios.get(BASE_URL + resource)
          .then(res => {
            this.nameLocation = res.data//se guarda solo el json para despues brindarle manejo a los datos
          })
          .catch(err => {
            console.log(err)
          })
    },
        getIndiceJuego () {//se obtiene un json con el indice de juego y la generación a la que pertenece
      const resource = 'location/' + this.selectedLocation
      axios.get(BASE_URL + resource)
          .then(res => {
            this.indiceJuego = res.data
          })
          .catch(err => {
            console.log(err)
          })
    }
  }
}
</script>
