<template>
  <div id="app">
<PokeApi />
<PokeApiLocations /><!--se invoca como componente en formato de etiquetas!-->
  </div>
</template>

<script>
import PokeApi from './components/PokeApi'
import PokeApiLocations from './components/PokeApiLocations'//nuevo componente tarea (aqui se importa)
export default {
  name: 'App',
  components: {
    PokeApi,
    PokeApiLocations//se exporta hacia la aplicación web
  }
}
</script>

/*<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
*/
